@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Cagliostro");

.content{
    overflow-x: hidden; 
	font-family: Cagliostro;
	color: darkturquoise;
	font-size: 15px;
	background-color: lightyellow;
}