.content{
	font-size: 15px;
	border-radius: 5px;
	border: 1px solid darkblue;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 3vh;
	width: 80vw;
	flex-direction: column;
}
.search {

}