.content{
	font-size: 15px;
	border-radius: 5px;
	border: 5px solid darkblue;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40vh;
	width: 75vw;
	flex-direction: column;
}
.search {

}