<app-header></app-header>
<div *ngIf="accommodations.length > 0">
	<table>
		<tr>
			<th>Mesto (drzava)</th>
			<th>Adresa</th>
			<th>Tip</th>
			<th>Kategorija</th>
			<th>Kapacitet</th>
			<th>Otkazni period</th>
			<th>Opis</th>
			<th>Osnovna cena</th>
		</tr>
		<tr *ngFor="let acc of accommodations">
			<td>{{acc.location.city}}, {{acc.location.state}}</td>
			<td>{{acc.location.address}}</td>
			<td>{{acc.type}}</td>
			<td>{{acc.category}}</td>
			<td>{{acc.unitCapacity}}</td>
			<td>{{acc.cancelationPeriod}}</td>
			<td>{{acc.description}}</td>
			<td>{{acc.defaultPrice}}</td>
		</tr>
	</table>
</div>
<div class="column">
	<p>Dodajte smestajnu jedinicu:</p>
	<button [routerLink]="['/agent-accommodations']">Dodaj</button>
</div>