<div class="content">
	<div *ngIf="isAdvanced">
		<form action="megatravel/search" method="get">
			<select name="location" [(ngModel)]="location">
				<option *ngFor="let location of (getCities())" [value]="location">{{location}}</option>
			</select>
			<input type="date" [(ngModel)]="checkin" name="checkin">
			<input type="date" [(ngModel)]="checkout" name="checkout">
			<input type="number" min="1" [(ngModel)]="guests" name="guests">
			<input type="submit" (click)="search(location,checkin, checkout, guests)" value="Pretrazi">
		</form>
		<button (click)="advanced()">Napredna pretraga</button>
	</div>
	<div *ngIf="!isAdvanced">
		<form action="megatravel/search/more" method="get">
			<select name="location">
				<option *ngFor="let location of (getCities())" [value]="location">{{location}}</option>
			</select>
			<select name="type">
				<option hidden="hidden" value="" disabled="">Tip</option>
				<option value="hotel">Hotel</option>
				<option value="pansion">Pansion</option>
				<option value="apartman">Apartman</option>
			</select>
			<select name="category">
				<option hidden="hidden" value="" disabled="">Kategorija</option>
				<option value="1*">★</option>
				<option value="2*">★★</option>
				<option value="3*">★★★</option>
				<option value="4*">★★★★</option>
				<option value="5*">★★★★★</option>
			</select>
			<fieldset>
				 <legend>Dodatne usluge</legend> 
				 <div *ngFor="let amenity of amenities">
				 	<input type="checkbox" name="amenities" [value]="amenity.amenity">{{amenity.amenity}}<br>
				 </div>
			</fieldset>
			<input type="date" name="checkin">
			<input type="date" name="checkout">
			<input type="number" min="1" name="guests">
			<input type="submit" value="Pretrazi">
		</form>
		<button (click)="advanced()">Nazadna pretraga</button>
	</div>
</div>
<div *ngIf="accommodations">
	<table>
		<tr>
			<th>Mesto</th>
			<th>Kapacitet</th>
		</tr>
		<tr *ngFor="let acc of accommodations">
			<td>{{acc.location.city}}</td>
			<td>{{acc.unitCapacity}}</td>
			<td><button (click)="book(acc.id, checkin, checkout)">Rezervisi</button></td>
		</tr>
	</table>
</div>