
	<div class="search">
		<div *ngIf="isAdvanced">
			<form action="megatravel/search" method="get" (keypress)="removeError()">
				<p *ngIf="error" style="color: red">Niste uneli sve potrebne podatke!</p>
				<label>Lokacija:</label>
				<input type="text" list="locations" name="location" [(ngModel)]="location">
				<datalist id="locations">
					<option *ngFor="let location of (getCities())" [value]="location">{{location}}</option>
				</datalist>
				<label>Od datuma:</label>
				<input type="date" [(ngModel)]="checkin" name="checkin"><br>
				<label>Do datuma:</label>
				<input type="date" [(ngModel)]="checkout" name="checkout"><br>
				<label>Broj gostiju:</label>
				<input type="number" min="1" [(ngModel)]="guests" name="guests"><br>
				<input type="submit" (click)="search(location,checkin, checkout, guests)" value="Pretrazi">
			</form>
			<button (click)="advanced()">Napredna pretraga</button>
		</div>
		<div *ngIf="!isAdvanced">
			<form action="megatravel/search/more" method="get" (keypress)="removeError()">
				<p *ngIf="error" style="color: red">Niste uneli sve potrebne podatke!</p>
				<label>Lokacija:</label>
				<input type="text" list="locations" name="location" [(ngModel)]="location">
				<datalist id="locations">
					<option *ngFor="let location of (getCities())" [value]="location">{{location}}</option>
				</datalist>
				<label>Tip:</label>
				<select name="type" [(ngModel)]="type">
					<option value="hotel">Hotel</option>
					<option value="pansion">Pansion</option>
					<option value="apartman">Apartman</option>
				</select>
				<label>Kategorija:</label>
				<select name="category" [(ngModel)]="category">
					<option value="1*">★</option>
					<option value="2*">★★</option>
					<option value="3*">★★★</option>
					<option value="4*">★★★★</option>
					<option value="5*">★★★★★</option>
				</select>
				<fieldset>
					 <legend>Dodatne usluge</legend> 
					 <div>
						<input type="checkbox" [(ngModel)]="wifi" name="wifi">Wi-Fi<br>
						<input type="checkbox" [(ngModel)]="parking" name="parking">Parking<br>
						<input type="checkbox" [(ngModel)]="fen" name="fen">Fen<br>
						<input type="checkbox" [(ngModel)]="kuhinja" name="kuhinja">Kuhinja<br>
					</div>
					<div>
						<input type="checkbox" [(ngModel)]="ljubimci" name="ljubimci">Dozvoljeni kućni ljubimci<br>
						<input type="checkbox" [(ngModel)]="kada" name="kada">Kada<br>
						<input type="checkbox" [(ngModel)]="bazen" name="bazen">Sopstveni bazen<br>
						<input type="checkbox" [(ngModel)]="terasa" name="terasa">Terasa/Balkon<br>
					</div>
					<div>
						<input type="checkbox" [(ngModel)]="pogled" name="pogled">Pogled<br>
						<input type="checkbox" [(ngModel)]="kafeaparat" name="kafeaparat">Aparat za kafu<br>
						<input type="checkbox" [(ngModel)]="vesmasina" name="vesmasina">Mašina za pranje veša<br>
						<input type="checkbox" [(ngModel)]="izolacija" name="izolacija">Zvučna izolacija<br>
					</div>
				</fieldset>
				<label>Od datuma:</label>
				<input type="date" [(ngModel)]="checkin" name="checkin"><br>
				<label>Do datuma:</label>
				<input type="date" [(ngModel)]="checkout" name="checkout"><br>
				<label>Broj gostiju:</label>
				<input type="number" min="1" [(ngModel)]="guests" name="guests"><br>
				<input type="submit" (click)="searchAdvanced(location, type, category, wifi, parking, fen, kuhinja, ljubimci, kada, bazen, terasa, pogled, kafeaparat, vesmasina, izolacija, checkin, checkout, guests)" value="Pretrazi">
			</form>
			<button (click)="advanced()">Nazadna pretraga</button>
		</div>
	</div>
	<div *ngIf="accommodations.length > 0">
		Sva mesta iz: <i>{{accommodations[0].location.city}}</i>, pronadjeno {{accommodations.length}} rezultata:
		<table>
			<tr>
				<th>Adresa</th>
				<th>Kapacitet</th>
				<th>Dodatne usluge</th>
				<th>Opis</th>
				<th>Tip</th>
				<th>Kategorija</th>
				<th>Cena po danu</th>
				<th>Cena ukupno</th>
			</tr>
			<tr *ngFor="let acc of accommodations">
				<td>{{acc.location.address}}</td>
				<td>{{acc.unitCapacity}}</td>
				<td>POPUNITI</td>
				<td>{{acc.description}}</td>
				<td>{{acc.type}}</td>
				<td>{{acc.category}}</td>
				<td>{{acc.defaultPrice}}</td>
				<td>{{calculatePrice(acc.defaultPrice, checkin, checkout)}}</td>
				<td><button (click)="book(acc.id, checkin, checkout)">Rezervisi</button></td>
			</tr>
		</table>
	</div>
	<div *ngIf="accommodations.length > 0">
		<p style="color: red">{{infoText}}</p>
	</div>
