@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Cagliostro");

body{
	font-family: Cagliostro;
	display: flex;
	justify-content: center;
	font-color: #504b59;
	margin: 25px;
}
button, input[type="submit"] {
	font-family: Cagliostro;
	color: white;
	background-color: #B0A2BD;
	border-radius: 5px;
	border: none;
	height: 3vh;
	margin: 2px;
	align-self: center;
	display: flex;
	padding: 0px 25px;
}
button:hover{
	color: white;
	background-color: #6d5e7b;

}

input[type="checkbox"] {
	margin: 5px 10px 0 0;
}
input[type="submit"]:hover{
	color: white;
	background-color: #6d5e7b;

}
input[type="text"], input[type="password"], input[type="number"] {
	font-family: Cagliostro;
	border-radius: 5px;
	border: 1px solid #504b59;
	height: 3vh;
	margin: 2px;
	width: 100%;
	padding: 2px;
}
input[type="date"]{
	font-family: Cagliostro;
	border-radius: 5px;
	border: 1px solid #504b59;
	height: 3vh;
	margin: 2px;
	width: 100%;
	padding: 2px;
}
select {
	font-family: Cagliostro;
	border-radius: 5px;
	border: 1px solid #504b59;
	height: 4vh;
	margin: 2px;
	width: 100%;
	padding: 2px;
}
.column {
	display: flex;
}
.end {
	justify-content: flex-end;
}
.space_between {
	justify-content: space-between;
}
.center {
	justify-content: center;
}
table {
	width: 100%;
	margin-top: 25px;
	color: #504b59;
}
th {
	padding: 5px;
	background-color: #B0A2BD;
	color: white;
}

td {
	padding: 5px;
}
table tr:nth-child(2n) {
	background-color: #f8f6ff;
}
app-root {
	width: 100%;
}
.header a {
	text-decoration: none;
}
.header a:visited {
	color: #504b59;
	text-decoration: none;
}
.p_button p {
	padding: 5px 25px 0 10px;
	margin: 0;
}
.p_button button {
	margin: 5px;
	margin-left: -5px;
}
.p_button {
	border-bottom: 1px solid #B0A2BD;
	margin-bottom: 5px;
}
h1 {
	margin: 0;
	color: #504b59;
}
p {
	color: #504b59;
}
.margin {
	margin: 50px;
}
.search label {
	margin-left: 5px;
}

