<app-header></app-header>
<div *ngIf="activated == 'activated'" class="column">
	<button [routerLink]="['/']">Pretrazi smestajeve</button>
</div>
<h1 *ngIf="activated == 'waiting'">Aktivacija naloga u toku!</h1>
<h1 *ngIf="activated == 'blocked'">Nalog je blokiran!</h1>
<div *ngIf="activated == 'activated' &&  reservations.length>0">
	<h1>Rezervacije:</h1>
	<table>
		<tr>
			<th>Rezervacija mesto</th>
			<th>Od datuma</th>
			<th>Do datuma</th>
			<th>Ukupna cena</th>
			<th>Status</th>
		</tr>
		<tr *ngFor="let reservation of reservations; let i=index">
			<ng-container *ngFor="let acc of accommodations">
				<td *ngIf="acc.id == reservation.accommodationUnitId">
					{{acc.location.city}} ({{acc.location.state}})
				</td>
			</ng-container>
			<td>{{reservation.checkInDate.slice(0, 10)}}</td>
			<td>{{reservation.checkOutDate.slice(0, 10)}}</td>
			<td>{{reservation.totalPrice}}EUR</td>
			<td *ngIf="reservation.status=='confirmed'">Potvrdjeno</td>
			<td *ngIf="reservation.status=='canceled'">Otkazano</td>
			<td *ngIf="reservation.status=='waiting-for-response'">Cekanje na odgovor</td>
		</tr>
	</table>
</div>